<!DOCTYPE html>
<html>
	<head>
		<title>Posts</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link rel="stylesheet" href="/stylesheets/main.css">
		<link rel="stylesheet" href="/stylesheets/landing.css">
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" async></script>
	</head>
	<body>

		<div id="landing-header">
			<h1>Posts</h1>
			<a href="/campgrounds" class="btn btn-lg btn-success">View all posts</a>
		</div>
		<ul class="slideshow">
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ul>
	

<%- include('partials/footer'); %>